
.create-todo{
    width: 40%;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;

    textarea{
        width: 80%;
        height: 200px;
        resize: vertical;
    }

    input{
        padding: 4px;
        width: 40%;
    }

    > *{
        margin-bottom: 12px;
    }
}