*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    // background-color: $color-background;
    background: url("/assets/img/table.png");
    background-size: cover;
}

main{
    width: 60vw;
    height: 80vh;
    margin: auto;

    display: flex;
    justify-content: space-around;
    // align-content: center;
    align-items: center;
}

h2{
    // width: 100%;
    margin-bottom: 12px;
    padding-bottom: 4px;

    font-size: 1.4em;
    border-bottom: 1px solid black;
}