.list{
    position: relative;
    width: 30%;
    height: 50%;
    padding: 24px;

    background-color: $color-div;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);

    form{
        height: 90%;
        overflow: hidden;
        overflow-y: auto;
    }

    input[type=submit]{
        width: 100%;
        margin: 4px auto;
        padding: 8px;

        background: $color-button;
        border: none;
        border-radius: 4px;

        color: white;
        text-transform: uppercase;
    }


    input[type=checkbox]{
        width: 1.5em;
        height: 1.5em;
        margin-right: 8px;

        &:checked{
            opacity: 0.5;
        }
    }

    .item{
        width: 99%;
        margin: 8px auto;
        padding: 4px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        
        &:hover, :hover:not(input){
            cursor: move;
        }
    }
}

.todo{
    .item{

        &:nth-child(even){
            background-color: $todo-1;
        }
        &:nth-child(odd){
            background-color: $todo-2;
        }
    }
}

.archives{
    .item{
        color: $color-button;
        background-color: $todo-archived;
    }
}


.collect{
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
}

.create-todo{
    input{
        margin: 8px 0;
        padding: 4px;
        width: 100%;
    }
}