
$color-background: rgb(250, 253, 253);
$color-button: rgb(112, 111, 121);
$color-div: white;
$todo-1: rgb(208, 229, 247);
$todo-2: rgb(241, 248, 222);
$todo-archived: rgb(165, 162, 150);

@import "partials/_global";
@import "partials/_list";